@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300&display=swap');

.cart {
  /* background-size: cover; */
  margin-top: 20px;
  font-family: 'Londrina Solid', sans-serif;
}

.cartItem {
  width: 290px;
  border: 4px solid #789461;
  margin: 10px 20px 10px;
}

.botones {
  margin-bottom: 20px;
}

.perroCarritoContainer {
  display: flex;
  align-items: center;
}

.perroCarrito {
  margin-top: 20px;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  margin-left: 560px;
}

.carritoVacio {
  margin-top: 30px;
  color: #789461;
}

.total {
  color: #294B29;
}

.borderBottom {
  border-bottom: 2px solid #789461;
}
