.loader {
    border: 10px solid #f3f3f3;
    border-top: 10px solid #789461;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite;
    display: block;
    margin-left: auto;
    margin-right: auto;

  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 

  .loaderBox {
    margin-top: 60px;
  }