#root {
  max-width: 100vw;
  margin: 0;
  padding: 0;
  text-align: center;

  /* height: 100vh; */
  background-image: url("/circle-scatter-haikei.svg");
  background-size: cover;
}

.row {
  margin-left: 0;
  margin-right: 0;
}
